.root{
 /*   -fx-background-color: linear-gradient(#dd5e89, #f7bb97);*/
    -fx-background-color: linear-gradient(#355C7D, #6C5B7B);
}

.label{
    -fx-text-fill: white;
}

.button{
    -fx-background-color: #474747;
    -fx-text-fill: white;
    -fx-background-radius: 5;
}

.error{
    -fx-text-fill: #ff6d6d;
    -fx-text-font-size: 10px
}